@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container text-center">
        <h1>HPTuning Inc</h1>
        <p>Milwaukee Best Auto Service</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Service</h2>
        <p>
            - Oil Change<br />
            - Brake<br />
            - Tire<br />
            - Engine Work<br />
            - Exhaust<br />
            - Heat And A/c<br />
            - Supsension
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">More</a></p>
    </div>
    <div class="col-md-4">
        <h2>Schedule Appointment</h2>
        <p>Call Us At 1-800-HPTuning To Set A Appointment</p>
        <p>You Can Set A Appointment Online</p>
        <p><a class="btn btn-default" @Html.ActionLink("Set Appiontment Here", "Create", "Appointment")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pay Bill</h2>
        <p>Don't Want To Pay In Pereson</p>
        <p>You Can Now Pay Online With PayPal</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Pay Here</a></p>
    </div>
</div>