
@{
    ViewBag.Title = "Index";
}

<h2>Welcome To HpTuningInc</h2>
Hello @User.Identity.Name

<button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("ClockIn", "Employee")';">Clock In</button>
<button type="button" class="btn btn-primary" onclick="window.location.href='@Url.Action("ClockOut", "Employee")';">Clock Out</button>
